/*
phone : 600 px 
tab-portrait : 900 px ||
tab-landscape :  1200px  =
large desktop : 1800 px

*/
html {
  font-size: 62.5%; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  padding: 3rem;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2.8rem;
    letter-spacing: 2.3rem;
    font-weight: 700;
    animation: moveInRight 1s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #28b4857d, #7ed56fed);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  display: inline-block; }
  .heading-secondary:hover {
    transform: skewX(2deg) skewY(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-sub-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:visited, .btn:link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  animation: moveInBottom 1s ease 0.5s;
  animation-fill-mode: backwards;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #7ed56f;
  color: #fff; }
  .btn--green::after {
    background-color: #7ed56f; }

.btn-text:link, .btn-text:visited {
  color: #7ed56fed;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #7ed56fed;
  padding: 0.3rem;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7ed56fed;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed56fed;
      transform: scale(1.08);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.2s; }
  .feature-box:hover {
    transform: scale(1.03) translateY(-1.5rem); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #28b4857d, #7ed56fed);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.card {
  perspective: 150rem;
  position: relative;
  height: 40rem; }
  .card:hover .card__flipper {
    transform: rotateY(180deg); }
  .card__flipper {
    height: inherit;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    border-radius: 0.3rem; }
    .card__flipper__side {
      height: inherit;
      font-size: 2rem;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 1rem; }
      .card__flipper__side--front {
        background-color: #fff;
        color: #777; }
      .card__flipper__side--back {
        transform: rotateY(180deg); }
        .card__flipper__side--back-1 {
          background-image: linear-gradient(to right bottom, #f7c261, #f7a307); }
        .card__flipper__side--back-2 {
          background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
        .card__flipper__side--back-3 {
          background-image: linear-gradient(to right bottom, #61d4f7, #0777f7); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    border-radius: 1rem 1rem 0 0; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #f7c261, #f7a307), url(../img/nat-5.jpg);
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56fed, #28b4857d), url(../img/nat-6.jpg);
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #61d4f7, #0777f7), url(../img/nat-7.jpg);
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    right: 2rem;
    top: 12rem;
    text-align: right;
    width: 70%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #f7c261, #f7a307); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 0.1rem solid #b4b2b2; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  background-image: radial-gradient(#28b485, #7ed56f);
  z-index: 1000;
  transition: transform 0.5s; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
  position: fixed;
  right: 3.5rem;
  top: 3.5rem;
  border: 1px solid;
  z-index: 1600;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::before {
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  top: 0rem; }

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::after {
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
  top: 0rem; }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.5s easeInOutQuint; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  background-image: linear-gradient(130deg, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.5s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #28b4857d;
  transform: translateX(1rem); }

.navigation__icon {
  position: relative;
  margin-top: 3.2rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    display: inline-block;
    background-color: #000;
    width: 3rem;
    height: 3px; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1700;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.3333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    padding: 3rem 5rem;
    vertical-align: middle; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 8rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777;
    hyphens: auto;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #777;
    -moz-hyphens: auto; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__close:link, .popup__close:visited {
    color: #000;
    font-size: 3rem;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: all 0.5s;
    line-height: 1; }
  .popup__close:hover, .popup__close:active {
    color: #28b4857d; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fed, #28b4857d), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem;
  margin-top: -20vh; }

.section-features {
  padding: 25rem;
  background-image: linear-gradient(to right bottom, #7ed56fed, #28b4857d), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -9rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
