$color-primary-light : #7ed56fed;
$color-primary-dark: #28b4857d;
$color-gray : #777;
$color-gray-light-1 : #f7f7f7;
$color-gray-light-2 : #b4b2b2;
$color-white : #fff;
$color-black: #000;

$color-secondary-light : rgb(247, 194, 97);
$color-secondary-dark : rgb(247, 163, 7);

$color-blue-light : rgb(97, 212, 247);
$color-blue-dark : rgb(7, 119, 247);


// Font
$font-family : "Lato", "sans-serif";
$default-font-size : 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;